@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        height: 140px;
        align-items: center;
    }
    &__menu-list{
        display: flex;
     
    }
    &__menu-item{
        &+.header__menu-item{
            margin-left: 30px;
        }
    }
    &__menu-link{
       font-size: 15px;
       color: $default; 
       @extend %rubik-700;
       color: #2B6373;
       position: relative;
    }
    &__menu-link__more{
        position: absolute;
        top: 2px;
        right: -13px;
    }
    &__nav{
        display: flex;
    }
    &__nav-item__box{
        background-color: #FFD8B6;
        margin: 0 18px;
        display: flex;
        justify-content: space-around;
        border-radius: 23px;
        align-items: center;
    }
    &__nav-box__item{
        display: flex;
        align-items: center;
        padding: 16px 27px;
        position: relative;
        &:nth-child(1)::after{
            content:'';
            position: absolute;
            width: 1px;
            height: 35px;
            background-color: #fff;
            right: 0;
        }
    }
    &__nav-item__num{
        position: absolute;
        font-size: 10px;
        font-weight: 500;
        right: 18px;
        top: 9px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %dmsans-400;
        color: #023D4C;
    }
    &__nav-item{
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__nav-item--search{
        background-color: #ECF1F4;
    }
    &__nav-item--menu{
        background-color: #9ABCCA;
    }
}

.footer-top{
    padding: 80px 0 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3ECF0;
    &__items{
         @extend %rubik-700;
          font-size: 14px;
        color: #7C7C7C;
    }
    &__items-contact{
        width: 175px;
    }
    &__logo{
        display: inline-block;
        margin-bottom: 27px;
    }
    &__adres{
        margin-bottom: 20px;
    }
    &__phone,
    &__email{
         display: inline-block;
        margin-bottom: 27px;
        color: #7C7C7C;
    }
    &__item-title{
        margin-bottom: 30px;
        @extend %dmsans-700;
        text-transform: uppercase;
        color: #1F2046;
        font-size: 16px;
    }
    &__item-text{
        margin-bottom: 20px;
    }
    &__item-link{
        color: #7C7C7C;
        @extend %rubik-700;
        font-size: 14px;
    }
    &__items-form{
        width: 275px;
    }
    &__item-subtitle{
        margin-bottom: 40px;
    }
    &__form{
        display: flex;
    }
    &__input{
        max-width: 170px;
        width: 100%;
        background-color: #FFF7EF;
        padding: 13px 16px;
        border: none; 
        outline: none;
        &::placeholder{
            @extend %dmsans-700;
            font-size: 12px;
            color: #114A6C;
        }
    }
    &__form-btn{
        border: none;
        width: 100px;
        color: #FFF;
        background-color: #9DBCC9;
    }
}
.footer-bottom{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-700;
    font-size: 14px;
    color: #7C7C7C;
    &__menu-link{
        @extend %rubik-700;
        font-size: 14px;
        color: #7C7C7C;
        padding: 0 18px;
        &+.footer-bottom__menu-link{
            border-left: 2px solid #7C7C7C;
        }
    }
}





@import 'media';