@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        height: 140px;
        align-items: center;
    }

    &__menu-list {
        display: flex;

    }

    &__menu-item {
        &+.header__menu-item {
            margin-left: 30px;
        }
    }

    &__menu-link {
        font-size: 15px;
        color: $default;
        @extend %rubik-700;
        color: #2B6373;
        position: relative;
    }

    &__menu-link__more {
        position: absolute;
        top: 2px;
        right: -13px;
    }

    &__nav {
        display: flex;
    }

    &__nav-item__box {
        background-color: #FFD8B6;
        margin: 0 18px;
        display: flex;
        justify-content: space-around;
        border-radius: 23px;
        align-items: center;
    }

    &__nav-box__item {
        display: flex;
        align-items: center;
        padding: 16px 27px;
        position: relative;

        &:nth-child(1)::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 35px;
            background-color: #fff;
            right: 0;
        }
    }

    &__nav-item__num {
        position: absolute;
        font-size: 10px;
        font-weight: 500;
        right: 18px;
        top: 9px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %dmsans-400;
        color: #023D4C;
    }

    &__nav-item {
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav-item--search {
        background-color: #ECF1F4;
    }

    &__nav-item--menu {
        background-color: #9ABCCA;
    }
}

.footer-top {
    padding: 80px 0 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3ECF0;

    &__items {
        @extend %rubik-700;
        font-size: 14px;
        color: #7C7C7C;
    }

    &__items-contact {
        width: 175px;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 27px;
    }

    &__adres {
        margin-bottom: 20px;
    }

    &__phone,
    &__email {
        display: inline-block;
        margin-bottom: 27px;
        color: #7C7C7C;
    }

    &__item-title {
        margin-bottom: 30px;
        @extend %dmsans-700;
        text-transform: uppercase;
        color: #1F2046;
        font-size: 16px;
    }

    &__item-text {
        margin-bottom: 20px;
    }

    &__item-link {
        color: #7C7C7C;
        @extend %rubik-700;
        font-size: 14px;
    }

    &__items-form {
        width: 275px;
    }

    &__item-subtitle {
        margin-bottom: 40px;
    }

    &__form {
        display: flex;
    }

    &__input {
        max-width: 170px;
        width: 100%;
        background-color: #FFF7EF;
        padding: 13px 16px;
        border: none;
        outline: none;

        &::placeholder {
            @extend %dmsans-700;
            font-size: 12px;
            color: #114A6C;
        }
    }

    &__form-btn {
        border: none;
        width: 100px;
        color: #FFF;
        background-color: #9DBCC9;
    }
}

.footer-bottom {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %rubik-700;
    font-size: 14px;
    color: #7C7C7C;

    &__menu-link {
        @extend %rubik-700;
        font-size: 14px;
        color: #7C7C7C;
        padding: 0 18px;

        &+.footer-bottom__menu-link {
            border-left: 2px solid #7C7C7C;
        }
    }
}

.top {
    margin-bottom: 60px;

    &__slider {
        position: relative;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 45px;
        right: 50%;
        transform: translateX(50%);
        transition: all .3s;
    }

    .slick-dots button {
        border: none;
        border-radius: 50%;
        background-color: transparent;
        color: #617A84;
    }

    .slick-dots li {
        border: none;
        border-radius: 50%;
        padding: 7px 6px;

        background-color: #FFE2C9;
        @extend %rubik-700;
        font-size: 10px;
        color: #617A84;
    }

    .slick-dots li+li {
        margin-left: 11px;
    }

    .slick-dots .slick-active {
        color: #1A404E;
        background-color: #fff;
    }

    &__slider-item {
        padding: 200px 0 280px 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
    }

    &__slider-info {
        max-width: 400px;
    }

    &__slider-title {
        @extend %rubik-700;
        font-size: 70px;
        line-height: 70px;
        color: #1A404F;
        margin-bottom: 40px;
    }

    &__slider-text {
        color: #396474;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 75px;
    }

    &__slider-link {
        background-color: #9DBCC9;
        color: #fff;
        padding: 23px 100px 25px 28px;
        margin-bottom: 40px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 18px;
            top: 28px;
            width: 22px;
            height: 9px;
            background-image: url(../images/icon/arrow-right.png);

        }
    }

    &__statistics {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 49px;
        background-color: #FFF7EF;
    }

    &__statistics-item {
        max-width: 274px;
        width: 100%;
        padding-left: 73px;
        position: relative;

        &:nth-child(1)::before {
            content: '';
            position: absolute;
            background-image: url(../images/statistics/1.png);
            width: 52px;
            height: 54px;
            left: 0;
            top: 15px;
        }

        &:nth-child(2)::before {
            content: '';
            position: absolute;
            background-image: url(../images/statistics/2.png);
            width: 52px;
            height: 54px;
            left: 0;
            top: 15px;
        }

        &:nth-child(3)::before {
            content: '';
            position: absolute;
            background-image: url(../images/statistics/3.png);
            width: 52px;
            height: 54px;
            left: 0;
            top: 15px;
        }

        &::before {
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__statistics-title {
        font-size: 18px;
        line-height: 40px;
        @extend %dmsans-700;
        margin-bottom: 7px;
    }

    &__statistics-text {
        font-size: 16px;
        line-height: 26px;
        @extend %dmsans-500;
        margin-bottom: 7px;
    }

}

.product {
    text-align: center;
    margin: 160px 0;
    background-color: #FFFFFF;

    &__title {
        @extend %rubik-400;
        font-size: 36px;
        margin-bottom: 35px;
    }

    &__naw-btn {
        margin-bottom: 100px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        color: #8B8B8B;

        &+.product__btn {
            margin-left: 30px;
        }
    }

    &__btn--active {
        color: #000;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 270px;

        &:hover {
            .product__img-box {
                opacity: 1;
            }
        }
    }

    &__item-img {
        max-width: 230px;
        height: 205px;
        object-fit: contain;
        margin: 0 auto;
    }

    &__img-box {
        position: relative;
        display: flex;
        justify-content: center;
        top: -70px;
        transition: all .3s;
        opacity: 0;

    }

    &__img-item {

        width: 45px;
        height: 45px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all .3s;

        &+.product__img-item {
            margin-left: 20px;
        }

        &:hover {
            background-color: #9DBBC8;

            path {
                fill: #fff;
            }
        }
    }

    &__item-name {
        @extend %dmsans-700;
        margin-bottom: 25px;
        color: #1A404E;
    }

    &__item-price {
        margin-bottom: 38px;
        @extend %dmsans-700;
        color: #9DBCC9;
    }
}

.proposed {
    margin-bottom: 100px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 870px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: #FFEEE0;
        padding-top: 76px;
        padding-bottom: 100px;
        padding-right: 150px;
        position: relative;
    }

    &__item-img {
        position: absolute;
        left: 100px;
        bottom: 100px;
    }

    &__item-info {
        max-width: 345px;
        margin-left: auto;
        margin-bottom: 20px;
        margin-top: auto;
    }

    &__item-title {
        font-size: 26px;
        line-height: 32px;
        @extend %dmsans-700;
        margin-bottom: 32px;
    }

    &__item-text {
        line-height: 30px;
        @extend %rubik-400;
        margin-bottom: 40px;
        color: #1A404E;
    }

    &__item-link {
        background-color: transparent;
        color: #396474;
        padding: 17px 85px 17px 19px;
        position: relative;
        border: 1px solid #396474;
        border-radius: 3px;
        margin-bottom: 20px;
        display: inline;

        &::after {
            content: '';
            position: absolute;
            right: 18px;
            top: 23px;
            width: 22px;
            height: 9px;
            background-image: url(../images/icon/arrow-right-black.png);

        }
    }
}


.new-product {
    margin: 160px 0;

    &__title {
        @extend %rubik-400;
        font-size: 36px;
        margin-bottom: 35px;
    }

    &__naw-btn {
        margin-bottom: 100px;
        text-align: center;
    }

    &__btn {
        background-color: transparent;
        border: none;
        color: #8B8B8B;

        &+.product__btn {
            margin-left: 30px;
        }
    }

    &__btn--active {
        color: #000;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        height: 246px;
        padding: 30px;
    }

    &__title-name {
        @extend %dmsans-700;
        font-size: 20px;
        line-height: 1;
        color: #000;
        margin-bottom: 17px;
        max-width: 165px
    }

    &__link {
        @extend %dmsans-700;
        color: #9DBCC9;
    }
}

.video {
    margin-bottom: 100px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    position: relative;
    padding-bottom: 260px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__top-link {
        @extend %dmsans-700;
        color: black;
        padding-right: 25px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 7px;
            height: 12px;
            background-image: url(../images/icon/arrow.png);
            right: 0;
            top: 4px;
            background-repeat: no-repeat;
        }
    }

    &__content-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    &__content-item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    &__content-img {
        width: 100%;
    }

    &__content-info__box {
        position: relative;
        padding: 35px 27px 27px 27px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__content-btn {
        padding: 10px 30px;
        color: #fff;
        background-color: #9DBCC9;
        @extend %dmsans-700;
        border-radius: 22px;
        position: absolute;
        top: -20px;
    }

    &__content-text {
        @extend %dmsans-500;
        font-size: 18px;
        color: #000;
        margin-bottom: 33px;
    }

    &__content-info {
        border-top: 1px solid #E0E0E0;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    &__partners {
        position: absolute;
        top: 321px;
        background-color: #FFF7EF;
        padding: 265px 0 60px;
        z-index: -1;
        width: 100%;
    }

    &__partners-inner {
        display: flex;
        justify-content: space-between;

    }

    &__partners-img {
        object-fit: contain;
    }
}

.article {
    position: static;
    padding: 60px 0 60px;

}

.top {
    background-color: #ECF1F4;
    color: #202934;
    padding: 35px;
    text-align: center;

    &__title {
        @extend %rubik-400;
        font-size: 35px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    &__breadcrumbs {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #838A91;
    }

    &__breadcrumbs-item {
        position: relative;

        &::after {
            content: '/';
            position: absolute;
            right: -5px;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__breadcrumbs-link {
        @extend %rubik-400;
        padding: 0 9px;

    }
}

.login{
    padding: 120px 0;
 
    &__form{
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    color: #1A404F;
    @extend %rubik-400;
    }
    &__input{
        display: block;
        height: 60px;
        width: 100%;
        margin: 14px 0 30px;
        padding: 0 20px;
        border: 1px solid #F6F6F6;
        outline: none;
        &:focus{
            font-size: 20px;
            color: #396474;
        }
    }
    &__btn{
        width: 100%;
        border: none;
        color: white;
        text-align: center;
        background-color: #9DBCC9;
        padding: 20px;
        @extend %rubik-700;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }

    &__help{
        display: flex;
        padding-bottom: 30px;
        border-bottom: 1px solid #F6F6F6;
        align-items: center; 
        color: #396474;
        @extend %rubik-400;
        margin-bottom: 30px;
        cursor: pointer;
    }

    &__help-input{
        @extend %checkbox-hidden;
        &:checked+.login__help-checkbox{
            background-image: url(../images/icon/chekced.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__help-checkbox{
        background-color: #EBEBEB;
        width: 15px;
        height: 15px;
        margin-right: 15px;
       
    }

    &__help-link{
        margin-left: auto;
    }

    &__text{
        margin-bottom: 30px;
        text-align: center;
        color: #396474;
        @extend %rubik-400;
    }

    &__btn-create{
        width: 100%;
        border: 1px solid #396474;
        color: #1A404E;
        text-align: center;
        background-color: transparent;
        padding: 20px;
        @extend %rubik-400;
        cursor: pointer;
    }
}



@import 'media';